h1{
	text-align: center; 
}
.carta{
	width: 65px;
	height: 65px
}
#tablero{
	width: 50%; 
	position: absolute; 
	top: 3vw;
}

#leyenda{
	width: 50%;
	position: absolute;
	left: 40vw; 
	top: 3vw;
	
}
#contenedor{
	position: relative; 
	left: 20vw;
}
#btnInicioJuego{
	width: 15%;
	height: 25px;
}
#btnFinalizarJuego{
	width: 20%;
	height: 25px;
}

footer{
	position: fixed;
	bottom: 0;
	left: 40vw;
}
