h1{
	text-align: center; 
}

#tablero{
	width: 50%; 
	position: absolute; 
	top: 10vw;
}

#leyenda{
	width: 50%;
	position: absolute;
	left: 40vw; 
	top: 10vw;
	
}
#contenedor{
	position: relative; 
	left: 20vw;
}
footer{
	position: fixed;
	bottom: 0;
	left: 40vw;
}
